/* HOME ITEM */

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: auto;
  max-width: 1400px;
  margin-top: 20px;
  margin-bottom: 50px;
}

main a {
  text-decoration: none;
  color: #999999;
  font-size: 12px;
  line-height: 16px;
}

/* PRODUCT ITEM HOME */
.products-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.home-product{
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -2px rgb(0 0 0 / 10%);
  border-radius: 8px;
  margin: 6px;
}
.home-product-item {
  flex: 1;
  margin: 20px 10px;
}

.home-product-item .product-price p:first-child {
  font-size: 14px;
  line-height: 18px;
  color: #111111;
  font-weight: bold;
  font-family: "Maison Neue Bold", sans-serif;
}

.home-product-item .product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.home-product-item div:first-child {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  padding-left: 5px;
  overflow-wrap: break-word;
}

.home-product-item img:first-child {
  width: 22px;
  height: 22px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.home-product-item img:nth-child(2) {
  width: 235px;
  height: 100%;
  object-fit: cover;
}

/* RESPONSIVE DESIGN */

@media (max-width: 570px) {
  main {
    width: 100%;
  }

  main > a {
    flex: 40%;
  }

  .home-product-item img:nth-child(2) {
    width: 100%;
    height: 100%;
  }

  .home-product-item div:first-child {
    padding-left: 0px;
  }

  .home-product-item div:first-child {
    padding-left: 0px;
  }

  .home-product-item img:first-child {
    margin-right: 6px;
  }
  .products-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .payment>form {
    flex-direction: column;
  }
  .payment>form>div:first-child{
    width: auto !important;
  }
  .payment>form>div:last-child {
    width: 100% !important;
}
.payment .order{
  flex-direction: column;
}
}
