/* HEADER  */
header {
  box-shadow: 0 4px 2px -2px #c9c9c991;
  padding: 10px 0 0 0;
  position: fixed;
  top: 0px;
  background-color: #fff;
  z-index: 99;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sub-menu{
  display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content:center;
    border-top: 1px solid #d5d9da;
}
.sub-menu-item{
   color: grey;
    cursor: pointer;
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 12px 16px;
    position: relative;
    font-size: 14px;

}
.sub-menu-item:hover{
  background-color: #8080801f;
}
header .container {
  position: relative;
  justify-content: space-between;
  display: flex;
  margin: auto;
  max-width: 1230px;
  width: 90%;
  padding-bottom: 10px;
}

.input-header {
  position: relative;
  display: flex;
  align-items: center;
  width: 600px;
}

header input {
  width: 100%;
  height: 20px;
  background-color: #f3f5f5;
  border: none;
  color: #999999;
  padding: 9px 50px;
  outline: none;
  border-radius: 4px;
  font-size: 16px;
}

header .input-header svg {
  position: absolute;
  left: 0px;
  color: #c7c7c7;
  margin-left: 20px;
}

header .container > div {
  display: flex;
  align-items: center;
}

header img {
  width: 88px;
  margin-right: 40px;
}

header .login-signup,
header .logout {
  border: 1px solid #5a93ce;
  background-color: white;
  color: #5a93ce;
  font-size: 13px;
  border-radius: 5px;
  padding: 7px 15px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;
}

header .logout {
  background-color: #facf5a;
  color: white;
  border: none;
  padding: 8px 15px;
}

header button {
  border: none;
  background-color: #5a93ce;
  color: #fff;
  border-radius: 5px;
  padding: 7px 15px;
  outline: none;
  cursor: pointer;
}

header .menu-mobile {
  display: none;
}
