/* 
----------------------------------- 
MODAL - FORM
----------------------------------- 
*/

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  margin-top: 70px;
}

.login-form .cgu {
  font-size: 12px;
  color: #999999;
  margin-bottom: 35px;
  width: 95%;
}

.login-form .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 90%;
  background-color: #fff;
  border-radius: 4px;
  padding: 50px 0 70px 0;
}

.login-form .container > div {
  width: 90%;
}

.login-form h2 {
  display: flex;
  justify-content: center;
  font-family: "Maison Neue";
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 30px;
}

.login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 270px;

  background-color: white;
}

.login-form input:not([type="checkbox"]) {
  margin-bottom: 35px;
  font-size: inherit;
  color: #111111;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.login-form .signup-text {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  text-decoration: none;
  color: #5a93ce;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}

.login-form .error-message {
  color: #facf5a;
  height: 10px;
  margin-top: 40px;
  text-align: center;
}

.login-form svg {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 18px;
  color: #9f9f9f;
  cursor: pointer;
}

.login-form input[type="submit"] {
  border: none;
  background-color: #5a93ce;
  color: #fff;
  border-radius: 4px;
  padding: 12px 15px;
  outline: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.input-modal,
.input-error {
  border: none;
  outline: none;
  color: black;
  padding-bottom: 9px;
}

.input-modal {
  border-bottom: 1px solid #e1e1e1;
}
.input-error {
  border-bottom: 1px solid #facf5a;
}

.newsletter {
  display: flex;
  width: 95%;
  justify-content: flex-start;
  margin-bottom: 20px;
  align-items: center;
}

.newsletter input {
  transform: scale(2);
  margin-right: 20px;
  margin-top: 10px;
}

.newsletter {
  font-size: 16px;
  line-height: 13.3px;
  color: #666666;
}
